/* style.css */
body {
    text-align: center;
    font-family: sans-serif;
    background-color: #70c5ce;
    overflow: hidden;
  }
  
  #gameContainer {
    position: relative;

    width: 400px;
    height: 500px;
    margin: 20px auto;
    overflow:hidden;
  }
  
  #bird {
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 50px;
  }
  
  .pipe {
    position: absolute;
    width: 60px;
    background: green;
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  